

<div class="form">
        <%= simple_form_for (@bday) do |f| %>
            <div class="search-form-control form-group">
            <%= f.input :name %>
            <%= f.input :birth_date, as: :date, start_year: Date.today.year - 120,
                        end_year: Date.today.year, discard_day: false,
                        order: [:day, :month, :year] %>
            <%= f.button :submit, 'find out', class: 'btn btn-primary' %>
        <% end %>
        
</div>
