
<div class="container">
    <div><h1>Welcome ! is it your Birthday ? </h1>
    </div>
    <div>
        <h2> Let's find out !</h2>
        <p> Today is : <%= @today_home %> </p>
    </div>

    <div>
        <%= render "bdays/new" %>
    </div>

    <div>
    <%= @bdays.count %> Queries so far !
    </div>

</div>


